/**/
#theCategoryPage #content, #content, #subcontent, #the_page, #thumbnails_block1, #thePicturePage #content {
    max-width: none;
}
#theCommentsPage #content,
#theUploadPage #content,
#theRegisterPage #content,
#theIdentificationPage #content,
#theProfilePage #content,
#theSearchPage #content,
#theAboutPage #content,
#thePopuphelpPage #content,
#thePasswordPage #content,
#theNotificationPage #content,
#theTagsPage #content,
#theNBMPage #content
{
	width:auto;
}
/*
#menubar_container {
    display: inline-block;
}  

 #subcontent {
    display: inline-block;
		width:100%;
}  
*/
 #subcontent {
    min-height: 490px;
		display:block;
}
#menubar {
    display: inline;
    float: left;
    margin: 0 0 10px 1em;
    padding: 0;
    width: 18em;
}  
.stuffs_thumbnails .bloc {
	position:relative !important;
	top:auto !important;
	left:auto !important;
}
.stuffs_thumbnails .bloc {
    display: inline-block !important;
}
.stuffs_thumbnails {
	width:400px;
}
.stuffs_thumbnails #thumbnails {
	margin:0;
}
#thePicturePage .stuffs_thumbnails {
	width:auto;
}
.bloc {
    display: block;
    margin: 3px;
    padding: 5px;
    width: 150px;
		z-index:999;
}
.content_block {
	z-index:999;
}
.bloc * {
    position: relative;
}
.bloc .title {
    left: 6px;
    max-width: 138px;
    padding: 7px 10px 6px;
    position: absolute;
    top: 6px;
    z-index: 1;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 5px;
    padding: 7px 10px 8px;
}
.bloc a {
    display: block;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 160px;
}
.nav_bulle {
    font-size: 9px;
    font-weight: bold;
    margin-right: 5px;
    padding: 7px 10px 8px;
}
#thumb_navigation {
	display:none
}
/****************
 color backgroung etc 
 ************************/
body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    margin: 5px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
.bloc .title, .nav_bulle {
	color: #FFFFFF;
	background-image: url("img/btn.png");
	border-radius: 5px 5px 5px 5px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: normal;

}
.bloc a {
    border-radius: 5px 5px 5px 5px;
}
#thePicturePage .left_block, #thePicturePage .right_block, #thePicturePage .middle_block, #content {
  background: transparent
}
#theHeader, .titrePage, .titrePage a, .footer_login a, .navigationBar a {
    color: #E6554F;
}
.album .title {
	color:#F8CDCB;
}

.content_block .additional_info {
	color:inherit;
}
